{#<button class="btn btn-success" onclick="displayGrades">#}
{#                Submit#}
{#</button>#}
<form action="allGrades" method="get">
    <input type="submit" class="btn btn-success" value="Submit">
</form>